
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.slick-prev{
    font-size: x-large;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    left: 1%;
    color: hsla(210, 24%, 16%, 0.616);
    cursor: pointer;
}
.slick-next{
    font-size: x-large;
    position: absolute;
    right: 1%;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    color: hsla(210, 24%, 16%, 0.616);
    cursor: pointer;
}
.slider-rel{
    position: relative;
}